<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head th:insert="fragments/head :: head"></head>

<body>

<div class="container">
    <div class="content">
        <h2>Lista de usuario</h2>

    </div>
</div>


<form action="#" th:action="@{/users/saveuser}" th:object="${user}" method="post">

    <table>

        <tr>
            <td><label for="id">ID</label></td>
            <td><input readonly type="text" th:field="*{id}" id="id" placeholder="username">
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span></td>
        </tr>

        <tr>
            <td><label for="username">Usuario</label></td>
            <td><input type="text" th:field="*{username}" id="username" placeholder="username">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span></td>
        </tr>
        <tr>
            <td> <label for="email">Email</label></td>
            <td> <input type="text" th:field="*{email}" id="email" placeholder="Email">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Password</label>
            </td>
            <td>
                <input type="password" th:field="*{password}" id="password" placeholder="password">
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </td>
        </tr>
        <tr>
            <td>
                <label >Role</label>
            </td>
            <td>
                <select th:field="*{role}">
                    <option th:each="roles : ${roles}" th:value="${roles.id}" th:text="${roles.name}"></option>
                </select>
            </td>
        </tr>

    </table>


    <input type="submit" value="Add User">
</form>



</body>
<div th:insert="fragments/foot :: footer"></div>
</html>
