<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="https://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>

<footer th:fragment="footer">
    <script>
        var resizefunc = [];
    </script>



    <!-- jQuery  -->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/detect.js}"></script>
    <script th:src="@{js/fastclick.js}"></script>
    <script th:src="@{js/jquery.blockUI.js}"></script>
    <script th:src="@{js/waves.js}"></script>
    <script th:src="@{js/jquery.slimscroll.js}"></script>
    <script th:src="@{js/jquery.scrollTo.min.js}"></script>

    <!-- App js -->
    <script th:src="@{js/jquery.core.js}"></script>
    <script th:src="@{js/jquery.app.js}"></script>


</footer>

</html>