<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A fully featured admin theme which can be used to build CRM, CMS, etc."
    />
    <meta name="author" content="Coderthemes" />

    <!-- App favicon -->
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
    <!-- App title -->
    <title>Banca-Online-Track</title>

    <!-- App css -->
    <link
      th:href="@{/css/bootstrap.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link th:href="@{/css/core.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/components.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/icons.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/pages.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/menu.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/responsive.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/plugins/switchery/switchery.min.css}" rel="stylesheet" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script th:src="@{/js/modernizr.min.js}"></script>
  </head>

  <body>
    <header th:fragment="header" id="topnav">
      <div class="topbar-main">
        <div class="container">
          <!-- Logo container-->
          <div class="logo">
            <!-- Text Logo -->
            <!--<a href="index.html" class="logo">-->
            <!--Zircos-->
            <!--</a>-->
            <!-- Image Logo -->
            <a href="" class="logo">
              <img th:src="@{/images/logo.png}" alt="" height="80" />
            </a>
          </div>
          <!-- End Logo container-->

          <div class="menu-extras">
            <ul class="nav navbar-nav navbar-right pull-right">
              <li class="dropdown navbar-c-items">
                <a
                  href="#"
                  class="right-menu-item dropdown-toggle"
                  data-toggle="dropdown"
                >
                  <i class="mdi mdi-bell"></i>
                  <span class="badge up bg-success">4</span>
                </a>

                <ul
                  class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list"
                >
                  <li class="text-center">
                    <h5>Notifications</h5>
                  </li>
                  <li>
                    <a href="#" class="user-list-item">
                      <div class="icon bg-info">
                        <i class="mdi mdi-account"></i>
                      </div>
                      <div class="user-desc">
                        <span class="name">New Signup</span>
                        <span class="time">5 hours ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="user-list-item">
                      <div class="icon bg-danger">
                        <i class="mdi mdi-comment"></i>
                      </div>
                      <div class="user-desc">
                        <span class="name">New Message received</span>
                        <span class="time">1 day ago</span>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="user-list-item">
                      <div class="icon bg-warning">
                        <i class="mdi mdi-settings"></i>
                      </div>
                      <div class="user-desc">
                        <span class="name">Settings</span>
                        <span class="time">1 day ago</span>
                      </div>
                    </a>
                  </li>
                  <li class="all-msgs text-center">
                    <p class="m-0"><a href="#">See all Notification</a></p>
                  </li>
                </ul>
              </li>

              <li class="dropdown navbar-c-items">
                <a
                  href=""
                  class="dropdown-toggle waves-effect waves-light profile"
                  data-toggle="dropdown"
                  aria-expanded="true"
                  ><img
                    th:src="@{/images/users/avatar-1.jpg}"
                    alt="user-img"
                    class="img-circle"
                  />
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list"
                >
                  <li class="text-center">
                    <h5>Hola, <span sec:authentication="name">...</span></h5>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="ti-user m-r-5"></i> Perfil</a
                    >
                  </li>
                  <li>
                    <a href="/logout/"
                      ><i class="ti-power-off m-r-5"></i> Salir</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <div class="menu-item">
              <!-- Mobile menu toggle-->
              <a class="navbar-toggle">
                <div class="lines">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </a>
              <!-- End mobile menu toggle-->
            </div>
          </div>
          <!-- end menu-extras -->
        </div>
        <!-- end container -->
      </div>
      <!-- end topbar-main -->

      <div class="navbar-custom">
        <div class="container">
          <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
              <li class="has-submenu">
                <a href="#"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
              </li>

              <li class="has-submenu">
                <a href="#"><i class="mdi mdi-account"></i>Usuario</a>
                <ul class="submenu megamenu">
                  <li>
                    <ul>
                      <li>
                        <span>Opciones</span>
                      </li>
                      <li>
                        <a href="/owner/users"> Ver Usuarios</a>
                      </li>
                      <li>
                        <a
                          href="#custom-modal"
                          data-animation="fadein"
                          data-plugin="custommodal"
                          data-overlaySpeed="200"
                          data-overlayColor="#36404a"
                        >
                          Crear Usuario</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li
                class="has-submenu"
                sec:authorize="hasAuthority('SUPER_USER')"
              >
                <a href="#"><i class="mdi mdi-checkerboard"></i>Consorcio</a>
                <ul class="submenu megamenu">
                  <li>
                    <ul>
                      <li>
                        <span>Opciones</span>
                      </li>
                      <li>
                        <a href="admin-sweet-alert.html">Ver Consorcios</a>
                      </li>
                      <li><a href="admin-widgets.html">Crear Consorcio</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="has-submenu">
                <a href="#"><i class="mdi mdi-collage"></i>Socio</a>
                <ul class="submenu megamenu">
                  <li>
                    <ul>
                      <li>
                        <span>Opciones</span>
                      </li>
                      <li>
                        <a href="admin-sweet-alert.html">Ver Socios</a>
                      </li>
                      <li><a href="admin-widgets.html">Crear Socio</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <!-- End navigation menu -->
          </div>
          <!-- end #navigation -->
        </div>
        <!-- end container -->
      </div>
      <!-- end navbar-custom -->

      <div class="navbar-custom">
        <div class="container">
          <div id="navigation">
            <!-- Navigation Menu-->

            <!-- End navigation menu -->
          </div>
          <!-- end #navigation -->
        </div>
        <!-- end container -->
      </div>
      <!-- end navbar-custom -->
    </header>

    <footer th:fragment="footer" class="footer text-right">
      <script>
        var resizefunc = [];
      </script>

      <!-- jQuery  -->
      <script th:src="@{/js/jquery.min.js}"></script>
      <script th:src="@{/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/detect.js}"></script>
      <script th:src="@{/js/fastclick.js}"></script>
      <script th:src="@{/js/jquery.blockUI.js}"></script>
      <script th:src="@{/js/waves.js}"></script>
      <script th:src="@{/js/jquery.slimscroll.js}"></script>
      <script th:src="@{/js/jquery.scrollTo.min.js}"></script>
      <script th:src="@{/plugins/switchery/switchery.min.js}"></script>

      <!-- App js -->
      <script th:src="@{/js/jquery.core.js}"></script>
      <script th:src="@{/js/jquery.app.js}"></script>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 text-center">
            © 2016 - 2020 Horizon High Tech.
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
